<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css / bootstrap / bootstrap.min.css")
    @Styles.Render("~/Content/css/font-awesome/all.css")
    @Styles.Render("~/Content/css / owl-carousel / owl.carousel.min.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css / media.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @section Scripts {
        @Scripts.Render("~/Content/jquery.min.js")
        @Scripts.Render("~/Content/bootstrap/popper.min.js")
        @Scripts.Render("~/Content/bootstrap/bootstrap.min.js")
        @Scripts.Render("~/Content/custom.js")
        @Scripts.Render("~/Content/owl-carousel/owl.carousel.js")

        @*<script src="js/jquery.min.js"></script>
            <script src="js/bootstrap/popper.min.js"></script>
            <script src="js/bootstrap/bootstrap.min.js"></script>
            <script src="js/custom.js"></script>
            <script src="js/owl-carousel/owl.carousel.js"></script>*@
    }
</body>
</html>