@model IEnumerable<Mvc.Models.mvcemployeemodel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    @Html.ActionLink("Create New","AddOrEdit")
</p>
<table class="table">
  
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.e_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th>Actions</th>
    </tr>
     
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.e_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salary)
        </td>
        <td>
            @Html.ActionLink("Edit", "AddOrEdit", new { id = item.e_id }) |
            <a onclick="Delete(@item.e_id)" class="btn btn-default">Delete</a>

        </td>
    </tr>
}
</table>
@section scripts
 {<script>
     $(function () {
         var successMessage = '@TempData["SuccessMessage"]'
         if (successMessage!= '')
         alertify.success(successMessage);
     });
     function Delete(id) {
         alertify.confirm('web api', 'are you sure?', function()
             {
             window.location.href = '@Url.Action("Delete","employees")/' + id
         }, null)

         }
 </script>
}
    