@*@model System.Data.DataTable
@{
    ViewBag.Title = "Registarion";
}
*@
<h2>Registarion</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
            <td>@Model.Rows[i][8]</td>
            <td>@Model.Rows[i][9]</td>
            <td>@Model.Rows[i][10]</td>
            <td>@Model.Rows[i][11]</td>

        </tr>
}
</table>
@*<a href="@UrlAction("Create","login")">Add LoginData</a>

*@